process {
    withName:RUN_MINIMAP2{
        container = 'quay.io/biocontainers/minimap2:2.28--he4a0461_3'
    }
    withName:EXTRACT_SEQ {
        container = 'quay.io/biocontainers/goldrush:1.2.1--py38h2123bcc_2'
    }
    withName:RUN_GOLDPOLISH {
        container = 'quay.io/biocontainers/goldrush:1.2.1--py38h2123bcc_2'
    }
    withName:RUN_POST_PROCESSING {
        container = 'quay.io/biocontainers/goldrush:1.2.1--py38h2123bcc_2'
    }    

}

singularity {
    enabled = true
    autoMounts = true
}
